# Download Data

In [54]:
import os
import pandas as pd
import numpy as np
from spflows.data.gecko.gecko_requests import(
    get_key,
    get_coins_to_download
)

from spflows.data.gecko.gecko_metadata import (
    AllCoinsMetadata,
    CoinMetadata
)

from spflows.data.gecko.gecko_utils import get_elapsed_hours

In [2]:
coingecko_key = get_key()
date_string="2024-12-18"

number_of_coins_to_download = 15
selected_coins = get_coins_to_download(date_string=None,
                                        key=coingecko_key,
                                        number_of_coins_to_download=number_of_coins_to_download,
                                        percentage_on_top=.1,
                                        number_of_pages=8,
                                        redo=False)
all_coins_metadata = AllCoinsMetadata(date_string=date_string,coingecko_key=coingecko_key)

some_coins_to_download = selected_coins[:number_of_coins_to_download]
all_coins_metadata.download_coins_metadata(coins_to_download=some_coins_to_download)
all_coins_metadata.download_df_timeseries()

Coins to Download: 15

100%|██████████| 15/15 [00:00<00:00, 285.66it/s]

Obtained 15 time series. Missing: 0

# Select the time series with frequency

In [64]:
df_bitcoin = all_coins_metadata.df_time_series["bitcoin"]

In [65]:
df_bitcoin_freq = get_dataframe_with_freq_bitcoin(df_bitcoin)
df_freq = get_dataframe_with_freq_from_bitcoin(df,df_bitcoin_freq)

In [68]:
df_freq

                           prices   market_caps  total_volumes
2024-09-19 16:01:55.551       NaN           NaN            NaN
2024-09-19 17:01:55.551       NaN           NaN            NaN
2024-09-19 18:01:55.551       NaN           NaN            NaN
2024-09-19 19:01:55.551       NaN           NaN            NaN
2024-09-19 20:01:55.551       NaN           NaN            NaN
...                           ...           ...            ...
2024-12-18 13:01:55.551  0.002328  2.327551e+06   81137.359732
2024-12-18 14:01:55.551  0.002306  2.308130e+06   80567.916972
2024-12-18 15:01:55.551  0.002318  2.311583e+06   69775.681185
2024-12-18 16:01:55.551  0.002313  2.316653e+06   60992.326002
2024-12-18 17:01:55.551  0.002318  2.314941e+06   40149.546791

[2162 rows x 3 columns]